.nabground{
	  background-image: url("../img/bookpat.jpg");
}

.ddd{
	margin-top: 6%;
}

.icon{
	margin: 10px;
	filter: alpha(opacity=50);
  opacity: 0.5;
	 -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.icon:hover{
	  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 100;
}

.icon-wrap{
	margin-top: -40px;
}

.bclear{
	filter: alpha(opacity=50);
  opacity: 0.5;
}