
.cont {
  position: relative;
  width: 50%;
}

.ima {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .3s ease;
}

.cont:hover .overlay {
  height: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.ddd{
	margin-top: 6%;
}

.icon{
	margin: 10px;
	filter: alpha(opacity=50);
  opacity: 0.5;
	 -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.icon:hover{
	  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 100;
}

.icon-wrap{
	margin-top: -40px;
}

.bclear{
	filter: alpha(opacity=50);
  opacity: 0.5;
}

.spaced{
  margin:20px;
}
